body {
    background: rgb(44,40,66);
    background: radial-gradient(circle, rgba(44,40,66,1) 0%, rgba(51,47,110,1) 50%, rgba(0,0,0,1) 100%);
}
.page {
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    align-self: center;
    vertical-align: central;
    justify-items: center;
    background-color: #f16059;
    border-radius: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    elevation: below;
    text-orientation: upright;
    text-decoration-color: aliceblue;
    border: hidden;
    border-image-repeat:round;
 
    background-image: url("C:/Users/keski/Desktop/github-sample/Calculator/sunflower.jpg");
}
.subpage {
    margin-top: 0px;
    margin-bottom: 50px;
    width: 80%;
    max-width: 700px;
    min-width: 290px;
    text-align: center;
    padding-top: 30px;
    background-color: antiquewhite;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: larger;

}
.compPage {
    text-decoration-color: aliceblue;
    margin: 50px auto;
    text-align: left;
    background: radial-gradient(circle, rgba(123,117,159,1) 0%, rgba(150,127,127,0.5298494397759104) 100%);
    
    padding:20px;
    border-radius:50px;
}
#num1 {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    margin-bottom: 25px;
    background: radial-gradient(circle, rgba(123,117,159,1) 0%, rgba(150,127,127,0.5298494397759104) 100%);
    border: hidden;
}

#num2 {
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    margin-bottom: 25px;
    text-decoration-color: azure;
    border: hidden;
    background: radial-gradient(circle, rgba(123,117,159,1) 0%, rgba(150,127,127,0.5298494397759104) 100%);
}

#Select1 {
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    margin-bottom: 25px;
    border: groove;
    background: radial-gradient(circle, rgba(123,117,159,1) 0%, rgba(150,127,127,0.5298494397759104) 100%);
}
#calculate {
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    margin-bottom: 25px;
    max-width: 300px;
    min-width:250px;
    min-height:50px;
    width: 80%;
    border: hidden;
}
#calculate:hover {
    background-color:burlywood;
    border:hidden;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    margin-bottom: 25px;
    max-width: 200px;
    width: 80%;
}





